.img-fluid{
    width: 350px;
    height: 250px;
    margin-bottom: 35px;
}
.container-fluid{
    margin-top: 10px;
    
}
h3{
  color:#27ae60;
}

.row-name-1{
    margin-top: -265px;
    color: white;
    padding: 10px;
    margin-bottom: 210px;
    
}
.row-name-2{
  margin-top: -265px;
  color: white;
  padding: 10px;
  margin-bottom: 210px;
}
.row-name-3{
  margin-top: -265px;
  color: white;
  padding: 10px;
  margin-bottom: 210px;
}
.row-name-4{
  margin-top: -265px;
  color: white;
  padding: 10px;
  margin-bottom: 210px;
}
  .row > .column {
    padding: 0 8px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 25%;
  }

 
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides {
    display: none;
  }

  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  

  img {
    margin-bottom: -4px;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.h1_diadiem{
  font-family: 'Great Vibes', Helvetica, sans-serif;
  color: #48a497;
 }

 /* drowdown */
 .jui-dropdown {
  position: relative;
  position: inline-block;
}

.jui-dropdown__select {
  border-radius: 2px;
  border: 2px solid #48a497;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  text-overflow: ellipsis;
  outline: none;
  background: #48a497;
  color: #fff;
    
}

.jui-dropdown--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.jui-label {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
